.list-subservices {
    display: flex;
    .list-subservices-container {
      flex: 6;
      h1 {
        color: rgb(5, 5, 94);
      }
      .search {
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;
        margin-right: 20px;
        input {
          border: none;
          outline: none;
          background: transparent;
          &::placeholder {
            font-size: 12px;
          }
        }
      }
      .table-container{
          margin: 30px 50px;
      }
    }
  }
  