.withdraw-request {
    display: flex;
    .withdraw-request-container {
      flex: 6;
      h1 {
        color: rgb(5, 5, 94);
      }
      .table-container{
          margin: 30px 50px;
      }
    }
  }
  