.list-customers {
    display: flex;
    .list-customers-container {
      flex: 6;
      h1 {
        color: rgb(5, 5, 94);
      }
      .filter{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        background-color: #f5f7f8;
        padding: 20px 10px;
        h2{
            margin-bottom: 20px;
        }
      }
      .table-container{
          margin: 30px 50px;
      }
    }
  }
  