.list-repairers {
    display: flex;
    .list-repairers-container {
      flex: 6;
      h1 {
        color: rgb(5, 5, 94);
      }
      .filter{
        margin-top: 30px;
        h2{
            margin-bottom: 10px;
        }
      }
      .table-container{
          margin: 30px 50px;
      }
    }
  }
  