.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets,
    .charts {
     
   
    
      .chart{
         margin-bottom: 20px;
      
            padding: 10px;
      }
    }

 

  }
}